
.wp-field-select-list {
	margin: 0;
	padding: 0;
}

.wp-field-select-list > ul {
	margin: 0;
	padding: 0;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	background-color: #f7f7f7;
	overflow: hidden;
	position: relative;
	display: inline-block;
	margin: 0 0 5px;
}

.wp-field-select-list > ul > li {
	margin: 0;
	padding: 0;
	position: relative;
	cursor: pointer;
	color: #999;
}
.wp-field-select-list > ul > li > span {
	display:block;
	padding: 5px 10px;
	margin: 0; 
}
.wp-field-select-list > ul.list > li > span {
	
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #DDD;

}
.wp-field-select-list > ul.inline > li > span {
	border-top: 0px solid #FFF;
	border-bottom: 0px solid #DDD;
	border-right: 1px solid #DDD;
}


.wp-field-select-list > ul > li:last-child span {
	border-bottom: none;
	border-right:none;
}

.wp-field-select-list > ul > li:hover {
	background-color: #eeeeee;
}

.wp-field-select-list > ul > li.active {
	background-color: #ffffff;
	color: #666;
	font-weight: bold;
}

.wp-field-select-list > ul > li.disable {
	background-color: #f7f7f7;
	color: #dddddd;
	font-weight: bold;
	cursor: default;
}

.wp-field-select-list > ul > li .name {
	display: block;
}
.wp-field-select-list > ul > li .desc {
	display: block;
	font-size: 10px!important;
	color: #BBB!important
}
.wp-field-select-list > ul.inline > li {
	text-align: center!important;
}



 